<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new comment</title>
</head>

<body>

    <h3>Add New Comment</h3>

    <form action="/comments" method="POST">

        <input type="text" name="username" placeholder="Enter Username"><br><br><br><br>

        <textarea name="body" cols="30" rows="5"></textarea><br><br>

        <button>Save</button>

    </form>



</body>

</html>